#cartView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cartView
.CloseButton {
    padding: 0;
    width: 3.5rem;
    margin-left: auto;
    margin-bottom: 2rem;
}

#cartView
.EmptyCart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    text-align: center;
}

#cartView
.AddUserCart {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    text-align: center;
}

#cartView 
.State {
    height: 9.75rem;
    margin-bottom: 2rem;
}