#menu .Content {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

#menu hgroup {
    position: relative;
    text-align: center;
}

#menu #addFoodButton {
    margin-left: auto;
    margin-right: auto;
}

#menuGrid {
    display: grid;
    gap: 1rem;
    margin-top: 4rem;
}

@media screen and (max-width: 799px) {
    #menuGrid {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 800px) {
    #menu .Content {
        padding: 4rem 8rem;
    }

    #menuGrid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1024px) {
    #menuGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1720px) {
    #menuGrid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}