#menu .Content {
    position: relative;
    padding: 64px 32px;
}

#menu hgroup {
    position: relative;
    text-align: center;
}

#menu .FoodTypeList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 16px;
    column-gap: 16px;

    margin-top: 32px;
}

#menu 
.FoodTypeList .Chip {
    cursor: pointer;
    height: 42px;
    border-radius: 21px;
    border: 1px solid var(--floral-white);
    padding: 0 24px;

    font-family: 'Roboto';
    font-size: 14px;
    line-height: 42px;
    font-weight: 500;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: var(--floral-white);
    
    opacity: 0.32;
    transition: all 350ms ease;
}

#menu
.FoodTypeList .Chip:hover {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.04);
}

#menu 
.FoodTypeList .Chip.Active {
    opacity: 1;
}

@media screen and (min-width: 800px) {
    #menu .Content {
        padding: 64px 128px;
    }
}