#orders .Content {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

#orders hgroup {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    position: relative;
    text-align: center;
}

@media screen and (min-width: 800px) {
    #orders .Content {
        padding: 4rem 8rem;
    }
}

#orders .OrdersList {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
}

#orders .Status {
    width: fit-content;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.Status.Pending {
    background-color: #263238;
}

.Status.Accepted {
    background-color: #FFAB00;
}

.Status.Complete {
    background-color: #00C853;
}

.Status.Rejected {
    background-color: #FF5252;
}

@media screen and (max-width: 799px) {
    #orders table {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    #orders table {
        width: 80%;
    }
}

td.actions {
    position: relative;
    overflow: visible;
}

#orders .PopupMenu {
    right: 1rem;
    top: 1rem;
}