.FAB {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    height: 56px;
    padding: 0 32px;
    border-radius: 8px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    text-transform: uppercase;

    transition: all 150ms ease-out;
}

.FAB.Primary {
    color: #212121;
    background-color: white;
}

.FAB.Primary:hover {
    background-color: #e0e0e0;
}

.FAB.Secondary {
    color: white;
    border: 1px solid white;
}

.FAB.Secondary:hover {
    border-color: #e0e0e0;
}

.FAB.Tertiary {
    color: white;
}

.FAB.Tertiary:hover {
    background-color: rgba(255, 255, 255, 0.04);
}