.LoggingPage {
    min-height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.LoggingPage
.Logo {
    height: 64px !important;
}

.FormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.LoggingPage #title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.LoggingPage #description {
    text-align: center;
    margin-bottom: 4rem;
}

@media screen and (max-width: 483px) {
    .LoggingPage {
        padding: 64px 32px;
    }
    
    .FormContainer {
        width: 100%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 483px) {
    .LoggingPage {
        padding: 64px 0;
    }
    
    .FormContainer {
        width: 26.25rem;
        margin: 0 auto;
    }
}