#signup form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
    column-gap: 16px;
    width: 100%;
}

#signup input {
    width: 100%;
}

#signup form .extended {
    grid-column: 1/3;
}

#sign-in-button {
    margin-top: 48px;
}