.Product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;

    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    padding: 2rem;

    transition: all 350ms ease;

    animation-fill-mode: both;
    animation: product-animation 350ms ease;
}

.Product
.Icon {
    margin-bottom: 2rem;
    transition: all 350ms ease;
}

.Product:hover
.Icon {
    transform: scale(1.04);
    transform-origin: center;
}

.Product
.Description {
    display: flex;
    flex-direction: column;
}

.Product
.QuantitySelector {
    display: flex;
    gap: 1rem;
}

.Product
.QuantitySelector button {
    padding: 0;
    width: 2.625rem;
    height: 2.625rem;
}

.Product #addToCartButton {
    height: 2.625rem;
}

.Product
.Actions {
    display: flex;
    gap: 1rem;
}

.Product
.Actions button {
    padding: 0;
    width: 2.625rem;
    height: 2.625rem;
}

@media screen and (max-width: 799px) {
    .Product {
        padding: 32px;
    }

    .Product
    .Icon {
        height: 96px;
    }

    .Product
    .Icon img {
        height: 96px;
    }

    @keyframes product-animation {
        0% {
            opacity: 0;
            transform: translateX(-2rem);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}

@media screen and (min-width: 800px) {
    .Product:hover {
        border: 1px solid var(--black-olive);
    }

    .Product
    .Icon {
        height: 6.5rem;
    }

    .Product
    .Icon img {
        height: 6.5rem;
    }

    .Product
    .Description {
        row-gap: 0.5rem;
    }

    @keyframes product-animation {
        0% {
            opacity: 0;
            transform: translateY(-2rem);
        }
        100% {
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}