header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

header
.LogoContainer {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

header
.Logo {
    user-select: none;
    -webkit-user-select: none;
}

header
.Tabs {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    column-gap: 32px;
}

header
.Actions {
    display: flex;
    flex-direction: row;
    column-gap: 32px;
    margin-left: auto;
}

@media screen and (max-width: 1023px) {
    header {
        height: 80px;
        padding-left: 32px;
        padding-right: 32px;
    }

    header
    .DrawerIcon {
        margin-right: 32px;
    }

    header
    .Logo {
        height: 36px;
    }

    header
    .Tabs {
        display: none;
    }

    header
    .AccountIcon {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    header {
        height: 128px;
        padding-left: 64px;
        padding-right: 64px;
    }

    header
    .DrawerIcon {
        display: none;
    }

    header
    .Logo {
        height: 48px;
    }
}