header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
}

#logo
img {
    height: 100%;
}

header
nav {
    display: flex;
    flex-direction: row;
    margin-left: 32px;
}

header
nav .Link {
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
}

header
nav .Link:not(:last-child):after {
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    width: 1px;
    height: 16px;
    background-color: #EFEDDA;
}

header
.More {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    column-gap: 32px;
}

/* Desktop */
@media screen and (min-width: 1024px) {
    header {
        height: 96px;
        padding: 0 32px;
    }

    #logo {
        height: 64px;
        margin-left: 32px;
    }
}

/* Tablet / Mobile */
@media screen and (max-width: 1023px) {
    header {
        position: relative;
        height: 64px;
        padding: 0 20px;
    }

    #logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 48px;
    }

    header
    .Navigation {
        display: none;
    }
}