#About {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#About
h1 {
    text-align: center;
    margin-bottom: 16px;
}

#About
p {
    text-align: center;
}

#About
.Portraits {
    display: flex;
    flex-direction: row;
    margin-top: 64px;
}

@media screen and (min-width: 800px) {
    #About {
        padding: 64px 64px;
    }

    #About
    .Portraits
    img {
        width: 320px;
        height: 320px;
    }

    #About
    .Portraits
    img:last-child {
        margin-top: 160px;
    }
}

@media screen and (max-width: 799px) {
    #About {
        padding: 64px 32px;
    }

    #About
    .Portraits {
        flex-direction: column-reverse;
    }

    #About
    .Portraits
    img {
        aspect-ratio: 1/1;
        width: 60%;
    }

    #About
    .Portraits
    img:first-child {
        margin-left: auto;
    }
}