footer {
    height: 128px;
    padding-left: 64px;
    padding-right: 64px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer p {
    text-align: center;
}

@media screen and (max-width: 1023px) {
    footer {
        height: 80px;
        padding-left: 32px;
        padding-right: 32px;
    }
}