.ShoppingCart {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    visibility: hidden;

    width: 100%;
    height: 100%;
    transition: all 350ms ease;
}

.ShoppingCart.Visible {
    visibility: visible;
}

.ShoppingCart
.Overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 0;
    transition: inherit;

    overflow-y: scroll;
    overflow-x: hidden;
}

.ShoppingCart.Visible
.Overlay {
    opacity: 1;
}

.ShoppingCart
.Cart {
    position: fixed;
    background-color: var(--eerie-black);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.16);
    
    width: 414px;
    height: fit-content;

    left: 32px;
    right: 32px;
    top: 32px;
    bottom: 32px;

    margin-left: auto;

    padding: 32px;
    border-radius: 16px;

    transition: inherit;
    transform: translateX(64px);
    opacity: 0;
}

.ShoppingCart.Visible
.Cart {
    transform: translateX(0);
    opacity: 1;
}

.ShoppingCart
.CloseButton {
    padding: 0;
    width: 3.5rem;
    margin-left: auto;
    margin-bottom: 32px;
}

.ShoppingCart
.EmptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 32px;
}

.ShoppingCart
.EmptyCart .State {
    margin-bottom: 32px;
}

@media screen and (max-width: 478px) {
    .ShoppingCart
    .Cart {
        border-radius: 0;

        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

        height: 100%;
        width: 100%;
        transform: translateY(-32px);
    }

    .ShoppingCart.Visible
    .Cart {
        transform: translateY(0);
    }
}