#my-orders .Content {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}

#my-orders hgroup {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    position: relative;
    text-align: center;
}

@media screen and (min-width: 800px) {
    #my-orders .Content {
        padding: 4rem 8rem;
    }
}

#my-orders .MyOrdersList {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
}

@media screen and (max-width: 799px) {
    #my-orders table {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    #my-orders table {
        width: 80%;
    }
}

td.actions {
    position: relative;
    overflow: visible;
}

#my-orders .PopupMenu {
    right: 1rem;
    top: 1rem;
}