button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 56px;
    padding-left: 24px;
    padding-right: 24px;

    border: none;
    border-radius: 28px;
    background-color: #EFEDDA;
    
    transition: all 350ms ease;
}

button:hover {
    background-color: #FFAB00;
}

button * {
    color: #212121;
    fill: #212121;
}

button.Secondary {
    background: none;
}

button.Secondary * {
    color: #EFEDDA;
    fill: #EFEDDA;
}

button.Secondary:hover {
    background-color: rgba(255, 255, 255, 0.04);
}