button {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 56px;
    padding-left: 24px;
    padding-right: 24px;

    border: none;
    border-radius: 28px;
    background-color: var(--flame);
    
    transition: all 350ms ease;
}

button * {
    color: var(--floral-white);
    fill: var(--floral-white);
}

button.Secondary {
    background: none;
}

button.Secondary:hover {
    background-color: rgba(255, 255, 255, 0.04);
}