@font-face {
  font-family: 'Phosphate';
  src: url('./fonts/PhosphatePro-Inline.otf');
}

body {
  margin: 0;
  background-color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: 6.0625rem;
  line-height: 7.375rem;
  letter-spacing: -1.5px;
}

h2 {
  font-weight: 300;
  font-size: 3.8125rem;
  line-height: 4.625rem;
  letter-spacing: -0.5px;
}

h3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 3.625rem;
}

h4 {
  font-weight: 500;
  font-size: 2.125rem;
  line-height: 2.625rem;
  letter-spacing: 0.25px;
}

h5 {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.8125px;
}

h6 {
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: 0.15px;
}

p {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.Button {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

.Caption {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.4px;
}

@media screen and (max-width: 1024px) {
  :root {
    font-size: 10px;
  }
}

@media screen and (max-width: 414px) {
  :root {
    font-size: 8px;
  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 14px;
  }
}

@media screen and (min-width: 1366px) {
  :root {
    font-size: 16px;
  }
}

/* Form fields styling */
label {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-transform: uppercase;
}

input {
  display: block;

  box-sizing: border-box;
  padding: 15px 16px;
  border: none;
  border-bottom: 1px solid white;
  background: none;
  outline: none;

  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: white;
}

label + input {
  margin-top: 8px;
}

label + input:not(:last-child) {
  margin-bottom: 32px;
}