body {
  margin: 0;
  background-color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}

p {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Phosphate';
  src: url('./fonts/PhosphatePro-Inline.otf');
}

@media screen and (min-width: 800px) {
  h1 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 97px;
    letter-spacing: -1.5px;
    line-height: 118px;
  }

  h2 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 61px;
    letter-spacing: -0.5px;
    line-height: 74px;
  }

  h3 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0px;
    line-height: 58px;
  }

  h4 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 34px;
    letter-spacing: 0.25px;
    line-height: 42px;
  }

  h5 {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 29px;
  }
  
  h6 {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.15px;
    line-height: 24px;
  }

  p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
    line-height: 24px;
  }
}