table {
    overflow-x: auto;
    white-space: nowrap;

    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.16);
    background-color: var(--eerie-black);
    border: 1px solid var(--black-olive);
    border-radius: 0.5rem;

    font-family: 'Roboto';
    font-weight: 400;
    color: var(--pale-silver);
}

thead {
    font-weight: 500;
    color: var(--floral-white);
}

td {
    height: 3rem;
    padding: 0 1rem;
}

tbody td {
    border-top: 1px solid var(--black-olive);
}

@media screen and (max-width: 799px) {
    table {
        width: 100%;
        overflow-x: scroll;
    }
}