@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    font-size: 16px;
}

@media screen and (max-width: 1365px) {
    :root {
        font-size: 14px;
    }
}

@media screen and (max-width: 1023px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 414px) {
    :root {
        font-size: 16px;
    }
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    color: var(--floral-white);
}

h1, h2, h3, h4 {
    font-family: 'Fredericka the Great';
}

h5, h6, p {
    font-family: 'Roboto';
}

h1 {
    font-weight: 300;
    letter-spacing: -1.5px;
}

h1.divideroo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1.divideroo::before {
    flex: 1;
    margin-right: 2rem;
    content: '';
    border-bottom: 1px solid var(--pale-silver);
}

h1.divideroo::after {
    flex: 1;
    margin-left: 2rem;
    content: '';
    border-bottom: 1px solid var(--pale-silver);
}
  
h2 {
    font-weight: 300;
    letter-spacing: -0.5px;
}
  
h3 {
    font-weight: 400;
}
  
h4 {
    font-weight: 500;
    letter-spacing: 0.25px;
}
  
h5 {
    font-weight: 400;
}
  
h6 {
    font-weight: 500;
    letter-spacing: 0.15px;
}
  
p {
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: var(--pale-silver);
}

.button {
    color: var(--floral-white);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.caption {
    color: var(--floral-white);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 0.875rem;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.error {
    color: var(--flame);
}

@media screen and (min-width: 415px) {
    h1 {
        font-size: 6.0625rem;
        line-height: 7.375rem;
    }
      
    h2 {
        font-size: 3.8125rem;
        line-height: 4.625rem;
    }
      
    h3 {
        font-size: 3rem;
        line-height: 3.625rem;
    }
      
    h4 {
        font-size: 2.125rem;
        line-height: 2.625rem;
    }
      
    h5 {
        font-size: 1.5rem;
        line-height: 1.8125rem;
    }
      
    h6 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
      
    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    
    .button {
        font-size: 0.875rem;
        line-height: 1rem;
    }
}

@media screen and (max-width: 414px) {
    h1 {
        font-size: 48px;
        line-height: 60px;
    }
      
    h2 {
        font-size: 32px;
        line-height: 42px;
    }
      
    h3 {
        font-size: 24px;
        line-height: 32px;
    }
      
    h4 {
        font-size: 22px;
        line-height: 28px;
    }
      
    h5 {
        font-size: 18px;
        line-height: 26px;
    }
      
    h6 {
        font-size: 16px;
        line-height: 24px;
    }
      
    p {
        font-size: 16px;
        line-height: 24px;
    }
    
    .button {
        font-size: 14px;
        line-height: 16px;
    }
}