a {
    text-decoration: none;
}

.Link {
    cursor: pointer;
    color: inherit;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.Link:visited, .Link:focus, .Link:active, .Link:hover {
    color: inherit;
    text-decoration: none;
}