.SlideEffect {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.SlideEffect .Mask {
    overflow: hidden;
}

.SlideEffect
.Mask > div:first-child {
    transform-origin: right center;
    transition: transform 300ms ease;
}

.SlideEffect
.Mask > div:last-child {
    transform-origin: left center;
    transform: rotate(20deg);
    transition: transform 300ms ease;
}

.SlideEffect:hover
.Mask > div:first-child {
    transform: translateY(-100%) rotate(20deg);
}

.SlideEffect:hover
.Mask > div:last-child {
    transform: translateY(-100%) rotate(0deg);
}